wandb
temp
aug_samples
src/__pycache__/
src/config/__pycache__/
src/loss/__pycache__/
src/metrics/__pycache__/
src/mixer/__pycache__/
src/models/__pycache__/
src/models/*/__pycache__/
src/models/*/**/__pycache__/
*/__pycache__/
*/**/__pycache__/
*/**/***/__pycache__/
*/**/***/****/__pycache__/


src/utils/__pycache__/
src/convert/__pycache__/

viz_out
data/image/*.JPG
data/image/*.jpg
data/image/*.jpeg
data/test_image/*.JPG
data/test_image/*.jpg

weight/pytorch/classification/*.pth
weight/pytorch/regression/*.pth
weight/pytorch/segmentation/*.pth

weight/onnx/classification/*.onnx
weight/onnx/regression/*.onnx
weight/onnx/segmentation/*.onnx

weight/tflite/classification/*.tflite
weight/tflite/regression/*.tflite
weight/tflite/segmentation/*.tflite

weight/keras

